body{
	height: auto;
	background-color: black;
	*{box-sizing: border-box;
		margin: 0px;
		padding: 0px;
		font-family: sans-serif;
		font-size: 14px;}
}


.div1{
	height: 10px;
	background-color: yellow;
	border-top-left-radius: 30px;
	border-top-right-radius: 40px;
	width: 640px;
	margin-left: 390px;
	margin-bottom: 0pc;

}